<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Dishes">
                <md-content class="md-padding" layout-gt-md="row" layout="column">
                    <div flex ng-repeat="dish in dishes">
                        <md-card>
                            <img ng-src={{dish.image}} class="md-card-image" alt="Washed Out">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{dish.name}}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-accent" ng-repeat="day in dish.days" ng-click="selectDish(day)">{{day}}</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Days">
                <md-content class="md-padding" layout-gt-lg="row" layout="column">
                    <div flex ng-repeat="day in days">
                        <md-card>
                            <md-toolbar layout="row" class="md-accent">
                                <div class="md-toolbar-tools">
                                    <span>{{day.name}}</span>
                                </div>
                            </md-toolbar>

                            <md-card-content>
                                <md-list flex>
                                    <md-list-item ng-repeat="dish in day.dishes" ng-click="selectDish(dish)" class="noright">
                                        <img alt="{{ dish.name }}" ng-src="{{ dish.image }}" class="md-avatar" />
                                        <p>{{ dish.name }}</p>
                                    </md-list-item>
                                </md-list>
                            </md-card-content>
                        </md-card>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>